/* some document wide stuff */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Road-Rage;
    src: url(../fonts/road-rage.otf);
}

/* Site layout */
.grid {
    width: 100%;
    min-height: 100vh;

    display: grid;

    grid-template-rows: minmax(0, 100%) 1fr 120px;
    grid-row-gap: 20px;

    grid-template-columns: minmax(10px, 1fr) minmax(0, 800px) minmax(10px, 1fr);

    grid-template-areas:    "header header header"
                            ".      content     ."
                            "footer footer footer";
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

/* default flex classes for 1d layouts */

.row {
    display: flex;
    flex-direction: row;
}

.row-responsive {
    display: flex;
    flex-direction: column;
}

@media (min-width: 468px) {
    .row-responsive {
        flex-direction: row;
    }
}

.col {
    display: flex;
    flex-direction: column;
}