/* some document wide stuff */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: Road-Rage;
    src: url(../fonts/road-rage.otf);
}

/* Structure */

.full-width {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-responsive {
    display: flex;
    flex-direction: column;
}

@media (min-width: 468px) {
    .row-responsive {
        flex-direction: row;
    }
}

.col {
    display: flex;
    flex-direction: column;
}

.col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skew {
    transform: skewY(2deg);
}

.unskew {
    transform: skewY(-2deg);
}

.fixed-bg {
    background-attachment: fixed;
}

.nav-bar {
    min-height: 70px;

    position: fixed;
    z-index: 100;
    top: 0%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper {
    width: 80%;

    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 468px) {
    .nav-wrapper {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.nav-link {
    padding-left: 10px;
    padding-right: 10px;

    text-decoration: none;

    font-size: 22px;
}

.nav-link:hover {
    margin-top: -2px;
}

.header {
    position: relative;
    margin-top: 70px;
    margin-bottom: -2%; /* hiding skew */

    width: 100%;
    height: calc(50vw - 50px);
    min-height: 400px;
    max-height: 80vh;

    background-image: url(../img/header-bg.jpg);
    background-position: 40% 0;
    background-size: cover;

    display: flex;
}

.header-text {
    width: 100%;
    height: 85%;

    padding-left: 20%;
    padding-right: 20%;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    line-height: 0.8;
}

.header-text-p::before {
    content: "";
}

.header-text-p {
    font-size: 40px;
    margin: 0;

    text-shadow: 1px 1px black; 
    text-align: center;
}

.header-text-p-double {
    font-size: 80px;
}

@media (min-width: 468px) {  
    .header-text {
        flex-direction: row-reverse;
    }
    
    .header-text-p {
        font-size: 50px;
    }

    .header-text-p-double {
        font-size: 100px;
    }
}

@media (min-width: 920px) {  
    
    .header-text-p {
        font-size: 66px;
    }

    .header-text-p-double {
        font-size: 132px;
    }
}

.content {
    font-size: 18px;
}

.content-wrap {
    margin-top: 30px;
    margin-bottom: 50px; /* more because of the skew */

    padding-left: 20px;
    padding-right: 20px;

    max-width: 820px;
}

.content-header {
    font-weight: 100;

    text-transform: uppercase;
}

.footer {
    position: relative;
    height: 80px;

    margin-top: 30px;
}

/* Skin */
.bg-gray-grad{
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(35,35,35,1) 35%, rgba(34,34,34,1) 100%);
}

.text-white {
    color: white;
}

.text-pd2-blue {
    color: #0593e9;
}

.hover-light-gray:hover {
    color: #aaaaaa;
}

.bg-dark-gray {
    background: #444;
}

.bg-light-gray {
    background: #888;
}

/* ToDO: Add font fallbacks */

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-road-rage {
    font-family: Road-Rage;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}