/* some document wide stuff */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: Road-Rage;
    src: url(../fonts/road-rage.otf);
}

/* Structure */

.full-width {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-responsive {
    display: flex;
    flex-direction: column;
}

@media (min-width: 468px) {
    .row-responsive {
        display: flex;
        flex-direction: row;
    }
}

.row-responsive-xl {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .row-responsive-xl {
        display: flex;
        flex-direction: row;
    }
}

.col {
    display: flex;
    flex-direction: column;
}

.col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar {
    min-height: 70px;

    position: fixed;
    z-index: 100;
    top: 0%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper {
    width: 80%;
}

.nav-brand {
    padding-right: 30px;
    padding-left: 10px;
}

.nav-link-wrapper {
    margin-top: 0;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .nav-link-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .nav-wrapper {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.nav-link {
    padding-left: 10px;
    padding-right: 10px;

    text-decoration: none;

    font-size: 22px;
}

.nav-link:hover {
    margin-top: -2px;
}

.hamburger-absolute {
    position: absolute;

    top: 0;
    right: 0;

    height: 20px;
    width: 26px;
    padding: 0;
    margin: 28px;
}   

.nav-hamburger-input {
    opacity: 0;

    z-index: 1;
}

.nav-hamburger-logo {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .nav-hamburger-logo {
        display: none;
    }
    
    .nav-hamburger-input {
        display: none;
    }
}

.hamburger-line {
    background-color: white;
    height: 4px;
    width: 100%;

    box-shadow: 2px 2px;

    border-radius: 2px;
}

/* 
    nav-hamburger-toggle-area
    gets displayed when the hamburger 
    is :checked at mobile 
*/
.nav-hamburger-input ~ .nav-hamburger-toggle-area {
    display: none;
}

.nav-hamburger-input:checked ~ .nav-hamburger-toggle-area {
    display: block;
}

@media (min-width: 768px) {
    .nav-hamburger-input ~ .nav-hamburger-toggle-area {
        display: block;
    }

    .nav-hamburger-input:checked ~ .nav-hamburger-toggle-area {
        display: block;
    }
}

.header {
    position: relative;
    margin-top: 70px;
    margin-bottom: -2%; /* hiding skew */

    width: 100%;
    max-width: 100vw;
    height: calc(50vw - 50px);
    min-height: 400px;
    max-height: 80vh;

    background-image: url(../img/header-bg.jpg);
    background-position: 40% 0;
    background-size: cover;

    display: flex;
}

.header-text {
    width: 100%;
    height: 85%;

    padding-left: 20%;
    padding-right: 20%;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    line-height: 0.8;
}

.header-text-p::before {
    content: "";
}

.header-text-p {
    font-size: 40px;
    margin: 0;

    text-shadow: 1px 1px black; 
    text-align: center;
}

.header-text-p-double {
    font-size: 80px;
}

@media (min-width: 468px) {  
    .header-text {
        flex-direction: row-reverse;
    }
    
    .header-text-p {
        font-size: 50px;
    }

    .header-text-p-double {
        font-size: 100px;
    }
}

@media (min-width: 920px) {  
    
    .header-text-p {
        font-size: 66px;
    }

    .header-text-p-double {
        font-size: 132px;
    }
}

.content {
    font-size: 18px;
}

.content-wrap {
    margin-top: 50px;
    margin-bottom: 80px; /* more because of the skew */

    padding-left: 20px;
    padding-right: 20px;

    max-width: 1200px;
}

.h1-header {
    font-weight: 100;

    text-transform: uppercase;
}

.footer {
    position: relative;
    height: 80px;

    width: 100%;
    padding-left: 10%;
    padding-right: 10%; 

    margin-top: 30px;
}

.footer-link {
    text-decoration: none;
    
    padding-left: 10px;
    padding-right: 10px;
}

/* Skin */
.skew {
    transform: skewY(2deg);
}

.unskew {
    transform: skewY(-2deg);
}

.fixed-bg {
    background-attachment: fixed;
}

.bg-gray-grad{
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(35,35,35,1) 35%, rgba(34,34,34,1) 100%);
}

.shadow-text-black {
    text-shadow: 3px 3px 3px black;
}

.shadow-box-black {
    box-shadow: 0 3px 7px black;
}

.text-white {
    color: white;
}

.text-pd2-blue {
    color: #0593e9;
}

.hover-light-gray:hover {
    color: #aaaaaa;
}

.bg-dark-gray {
    background: #373737;
}

.bg-light-gray {
    background: #676767;
}

/* ToDO: Add font fallbacks */

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-road-rage {
    font-family: Road-Rage;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}