/* unique */
.nav-bar {
    min-height: 70px;
    color: white;

    position: fixed;
    z-index: 100;
    top: 0%;
    width: 100%;

    font-family: 'Oswald', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper {
    width: 80%;

    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 468px) {
    .nav-wrapper {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.nav-link {
    padding-left: 10px;
    padding-right: 10px;

    text-decoration: none;

    color: white;

    font-size: 22px;
}

.nav-link:hover {
    color: #aaa;
    margin-top: -2px;
}

.grid {
    margin-top: 70px;
    background: #444;
}

.header {
    position: relative;

    width: 100%;
    height: calc(50vw - 50px);
    min-height: 400px;
    max-height: 80vh;

    background-image: url(../img/header-bg.jpg);
    background-position: 40% 0;
    background-size: cover;

    display: flex;
}

.header-text {
    width: 100%;
    height: 90%;

    padding-left: 20%;
    padding-right: 20%;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    line-height: 0.8;
}

.header-text-p::before {
    content: "";
}

.header-text-p {
    font-family: Road-Rage;

    font-size: 40px;
    margin: 0;

    text-shadow: 1px 1px black; 
    text-align: center;

    /* font size missing */
}

.header-text-p-double {
    font-size: 80px;
}

@media (min-width: 468px) {  
    .header-text {
        flex-direction: row-reverse;
    }
    
    .header-text-p {
        font-size: 50px;
    }

    .header-text-p-double {
        font-size: 100px;
    }
}

@media (min-width: 920px) {  
    
    .header-text-p {
        font-size: 66px;
    }

    .header-text-p-double {
        font-size: 132px;
    }
}

.content {
    font-family: 'Open Sans', sans-serif;
    color: white;

    font-size: 18px;
}

.content-header {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;

    text-transform: uppercase;
}

.footer {
    position: relative;
}

/* reusable */
.gray-bg-grad {
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(35,35,35,1) 35%, rgba(34,34,34,1) 100%);
}

.angled-triangle {
    position: absolute;
    width: calc(100% + 10px);
}

.angled-bottom {
    bottom: 0;

    margin-bottom: -1px;
    margin-left: -10px;
}

.angled-top {
    top: 0;

    margin-top: -1px;
}

.text-white {
    color: white;
}

.text-pd2-blue {
    color: #0593e9;
}